h1 {
  font-family: fantasy;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

div > p {
  font-weight: bold;
}

p {
  width: 300px;
  height: 25px;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 3px 4px grey;
}

#upper {
  border: none;
  background-color: white;
  color: #fd3e48;
}

span {
  padding: 3px 0px 3px 0px;
  border-top: 5px outset red;
  border-bottom: 5px outset red;
}

#login {
  border: 2px outset rgb(109, 108, 108);
  border-radius: 3px;
  background-color: #71fce5;
  padding: 5px 20px 5px 20px;
  margin-right: 0%;
}
#login:hover {
  cursor: pointer;
}

#cancel {
  border: 2px outset rgb(109, 108, 108);
  border-radius: 3px;
  background-color: #fd3e48;
  padding: 5px 20px 5px 20px;
  margin-left: 0%;
}
#cancel:hover {
  cursor: pointer;
}

#signup {
  border: 2px outset rgb(109, 108, 108);
  border-radius: 3px;
  background-color: rgb(29, 247, 247);
  padding: 5px 20px 5px 20px;
  margin: 0%;
}
#signup:hover {
  cursor: pointer;
}
